<!DOCTYPE html>
<html>
  <head>
    <title>TODO List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TODO List</h1>
    <form method='POST' action='/'>
      <input type='text' name='item'>
      <input type='submit' value='add'>
    </form>
    <ul><%-items.map(function(a){return '<li>'+a+'</li>';}).join('\n')%></ul>
  </body>
</html>
